/* .generalStats {
    flex: 1;
    display: flex;
    flex-direction: row;
} */

.outOfStock {
    flex: 1;
    margin: 0.5rem;
    flex-direction: column;
}

.outOfStock > p {
    font-size: 1.25rem;
    padding: 0.25rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: lightblue;
}

.salesReport {
    flex: 1;
    margin: 0.5rem;
    flex-direction: column;
}

.salesReport > p {
    font-size: 1.25rem;
    padding: 0.25rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: lightblue;
}

/* .stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border: 0.1rem cornflowerblue solid;
    border-radius: 2rem;
} */

.salesReportContainer {
    flex: 1;
    /* max-height: 3.75rem; */
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
}

.salesReportContainer > div {
    margin-right: 1rem;
}

.salesReportContainer > div > input {
    font-size: 1rem;
    padding: 0.25rem;
}

.salesReportContainer > button {
    font-size: 1rem;
    padding: 0.25rem;
    font-weight: bold;
}

.display {
    flex: 1;
    margin: 3rem 0rem 0rem 0rem;
    background-color: #f1f1f1;
    padding: 1rem 2rem 1rem 2rem;
    max-height: 50vh;
    overflow: scroll;
}

.display > div {
    display: grid;
    justify-items: center;
    grid-template-columns: 10% 70% 20%;
    font-size: 1.25rem;
}

.display > div > p {
    margin-right: 1rem;
}

/* @media (prefers-color-scheme: dark) {
    .display {
        background-color: #0e0e0e;
    }
} */

.profitReport > p {
    font-size: 1.25rem;
    padding: 0.25rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: lightblue;
}

.profitReportContainer {
    flex: 1;
    /* max-height: 3.75rem; */
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
}

.profitReportContainer > div {
    margin-right: 1rem;
}

.profitReportContainer > div > input {
    font-size: 1rem;
    padding: 0.25rem;
}

.profitReportContainer > button {
    font-size: 1rem;
    padding: 0.25rem;
    font-weight: bold;
}

 /* Các style mới cho sidebar */
.sidebar {
    width: 20rem;
    background-color: rgb(13, 104, 134);
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 1rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: lightblue;
    text-align: center;
}

.sidebar li:hover {
    background-color: #bbb;
}

.pageContainer {
    display: flex;
}

.mainContent {
    flex: 1;
    padding: 20px;
}
