

.displayList {
  white-space: nowrap; /* Ngăn các phần tử con tự động xuống dòng */
  overflow-x: hidden; /* Hiển thị thanh cuộn ngang khi có tràn */
  overflow-y: hidden; /* Ẩn thanh cuộn chiều dọc */
  padding: 0rem 1rem 0rem 1rem;
  max-height: calc(100vh - 7.25rem);
  flex: 1;
  display: flex;
  flex-direction: row;
}

.dealOfTheDay {
  background-color: rgb(101, 180, 204);
  height: 30rem;
  flex: 1;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.dealHeader {
  display: flex;
  flex-direction: row;
  max-height: 3rem;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
}
.dealTitle {
  color: #fff; /* Màu chữ */
  font-size: 2rem; /* Kích thước chữ */
  font-weight: bold; /* Độ đậm của chữ */
  text-align: left; /* Đặt chữ theo chiều trái */
  flex: 1;
}

.buttonLeft {
  color: #18afeb;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.911);
  border: none;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 5px;
}

.buttonRight {
  color: #18afeb;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.911);
  border: none;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 5px;
}


.pages{

}

.container {
  display: flex;
  height: 100px;
  /* justify-content: center; */
  align-items: center;
}

.container button {
  background-color: cornflowerblue;
  color: white;
  margin-left: 0.5rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.container button:hover {
  background-color: rgb(100, 100, 250);
}

.container button:active {
  background-color: rgb(51, 51, 192);
}
.imageLogo{
  flex:0.1;
  height: 100px;
  font-size: 1rem;
  padding: 0.25rem;
  /* width: 1rem; */
  margin-left: 2rem;
  margin-right: 1rem  ;
  justify-self: left;
}

.searchBar {
  flex:0.6  ;
  height: 50px;
  font-size: 1.25rem;
  padding: 0.25rem;
  width: 1rem;
  justify-self: center;
  margin-left: 150px;
  border-radius: 10px;
}
.nameLogo {
  display: flex;
  flex-direction: column;
  /* margin-right: 400px; */
  justify-self: left;
}

.mainName {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

.subName {
  font-size: 1rem; /* Adjust font size as needed */
  color: gray;
}


/* Add any additional styling for the filter button as needed */


.filterBackground {
  background-color: #80808060;
  position: absolute;
  display: flex;
  justify-content: right;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw; 
}

.filterPanel {
  display: flex;
  flex-direction: column;
  width: 24rem;
}

.filterHeader {
  display: flex;
  padding: 1rem;
  height: 4rem;
  justify-content: center;
}

.filterHeader > h2 {
  flex: 1;
}

.filterHeader > button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}
.slider {
  flex: 1;
  padding-left: 2rem;
  display: flex;
  height: 35rem;
  margin-bottom: 1rem;
}

.filterSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 25rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.sliderSection {
  display: flex;
  background-color: #006FFF;
  flex: 1;
  border-radius: 1rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
}

.textColumn {
  flex: 0.3;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  
  padding-left: 4rem;

  color: white; /* Added text color for better visibility */
}
.textColumn>h3 {
  font-size: 2rem ;
}

.textColumn>h2 {
  font-size: 3rem;
}

.imageColumn {
  flex: 0.6;
  display: flex;
  height: 32rem;
  
}

.imageSlider {
  width: 100%;
  height: 100%;
}
.filterSection > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.filterBox {
  margin: 0.5rem;
  padding: 1rem;
  width: 10rem;
  border: none;
  background-color: #dcdcdc;
  border-radius: 0.5rem;
}

.activeBox {
  margin: 0.5rem;
  padding: 1rem;
  width: 10rem;
  border: none;
  background-color: #a0a0a0;
  border-radius: 0.5  rem;
}
.trendSection{
  padding-top: 1rem;
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}
/* Example CSS Module Styles */

.trend1, .trend2,.trend3 {
  flex: 1;
  text-align: center; /* Center content horizontally */

  border-radius: 1rem;
  justify-content: center;
  align-items: center;

}
.trend2{
  margin-right: 2rem;
  margin-left: 2rem;
}
.trend1{
  margin-left: 2rem;
  background-color: transparent;
    background-image: radial-gradient(at center center,#FFEC01 3%,#FD430A 62%);
}
.trend21{
  background-color: transparent;
  border-radius: 1rem;
  margin-bottom: 2rem;
  justify-self: top;
  background-image: linear-gradient(270deg,#AE4E2F 0%,#632B12 100%);
}
.trend22{
  background-color: transparent;
  justify-self: bottom;
  border-radius: 1rem;
    background-image: linear-gradient(90deg,#BBECFF 0%,#00B2FF 49%);
}
.trend3{
  background-color: transparent;
  margin-right: 2rem;
  background-image: radial-gradient(at center center,#E6FF00 3%,#40B44B 62%);
}
/* Add styles for imgSnack, imgMilo, imgWater as needed */

.hidden {
  display: none;
}

/* Trong tệp CSS hoặc SCSS của bạn */

@media (prefers-color-scheme: dark) {
  .filterHeader {
    background-color: black;
  }
  .filterPanel {
    background-color: gray;
  }
  .filterBox {
    background-color: #000120;
  }
  .activeBox {
    background-color: #000550;
  }
}
