.dialogBackground {
    background-color: #80808060;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.editDialog {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 2rem;
    padding: 2rem;
    max-height: 95vh;
    overflow: scroll;
    font-weight: bold;
}

.editDialog > p {
    max-width: 30rem;
    text-wrap: wrap;
}

.editDialog > h2 {
    align-self: center;
    margin-bottom: 1rem;
}

.editDialog > input {
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    border-radius: 40px;
    min-height: 4vh;
    padding: 10px 15px;
    background-color: rgba(17, 17, 17, 0.1);
    color: black;
    margin-top: 8px;
    box-shadow: 0 0 2px darkslategray;
}

.editDialog > button {
    border-radius: 0.25rem;
    width: 30rem;
    padding: 0.25rem;
    background-color: transparent;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black
}

.editDialog > button > p {
    margin-right: 0.25rem;
}

.editDialog > button:hover {
    color: green;
}

.editDialog > button:active {
    color: darkgreen;
}

.editDialog input::-webkit-outer-spin-button,
.editDialog input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.editDialog input[type=number] {
  -moz-appearance: textfield;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.nameContainer :first-child {
    margin-right: 1rem;
}

.nameContainer input {
    background-color: rgba(17, 17, 17, 0.1);
    color: black;
    border-radius: 40px;
    min-height: 4vh;
    font-size: 1rem;
    font-size: 1rem;
    width: 14.5rem;
    width: 14.5rem;
    margin-bottom: 0rem;
    margin-bottom: 0rem;
    padding: 10px 15px;
    margin-top: 8px;
    box-shadow: 0 0 2px darkslategray;
}

.scheduleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.scheduleContainer > div {
    margin-right: 1rem;
}

.scheduleContainer input {
    font-size: 1rem;
    width: 14.5rem;
    margin-bottom: 0rem;
    border-radius: 40px;
    min-height: 4vh;
    padding: 10px 15px;
    background-color: rgba(17, 17, 17, 0.1);
    color: black;
    margin-top: 8px;
    box-shadow: 0 0 2px darkslategray;
}

.scheduleContainer > button {
    background-color: transparent;
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
    align-self: flex-end;
    border-width: 0rem;
}

.scheduleContainer > button:hover {
    color: red;
}

.scheduleContainer > button:active {
    color: darkred;
}

.delDialog {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem;
}

.delDialog > h2 {
    margin-bottom: 1rem;
}

.buttonContainer {
    padding-top: 1rem;
    display: flex;
}

.buttonContainer > button {
    margin: 0.5rem;
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 40px;
    box-shadow: 0 0 2px darkslategray;
}

.buttonContainer >button:hover {
    background-color: #80808060;
}
.editDialog > .buttonContainer {
    align-self: flex-end;
}

.hidden {
    display: none;
}

.message {
    color: red;
    align-self: center;
    text-wrap: wrap;
}

.table {
    table-layout: fixed;
    border-spacing: 0;
    flex: 1;
}

.tableDiv {
    display: flex;
    max-height: calc(100vh - 8.5rem);
    overflow: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tableHeader th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tableBody > tr{
    font-weight: normal;
}

.tableBody > tr:nth-child(odd) {
    background-color: white;
    text-align: center;
}

.tableBody > tr:nth-child(even) {
    background-color: lightcyan;
    text-align: center;
}

.tableBody > tr > td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.id {
    width: 5rem;
}

.lname {
    width: 10rem;
}

.fname {
    width: 5rem;
}

.role {
    width: 5rem;
}

.totalHours {
    width: 5rem;
}

@media (prefers-color-scheme: dark) {
    .editDialog {
        background-color: whitesmoke;
        color: black;
    }
    .delDialog {
        background-color: black;
    }
    .buttonContainer > button {
        background-color: rgb(17, 17, 17);
    }

    .tableBody > tr:nth-child(odd) {
        background-color: #ffffff;
    }
    
    .tableBody > tr:nth-child(even) {
        background-color: #f3f3f3;
    }
}

.tableHeader th {
        background-color: #01987a;
        color: white;
    }

@media (max-width: 800px) {
    .dialogBackground {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
    }
    
    .editDialog {
        position: absolute;
        top: 0;
        left: 0;
        justify-content: flex-start;
        min-height: 100vh;
        min-width: 100vw;

        border-radius: 0rem;
    }
    
    .editDialog > input {

        width: calc(100vw - 4rem);
    }
    
    .editDialog > button {

        width: calc(100vw - 4rem);
    }
    
    .unitContainer input {

        width: calc((100vw - 10.5rem)/3);
    }
    
    .unitContainer > button {

        height: 1.5rem;
        width: 1.5rem;
    }
    
    .delDialog > h2 {
        font-size: 1.5rem;
    }

    .buttonContainer > button {
        font-size: 1rem;
    }
}

